<h2>Are you sure you want to delete this Category?</h2>
@model LocalBusinessInterface.Models.Category

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger" />
}